@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
* {
    user-select: none;
    -webkit-user-select: none;   
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    /*background-color: #9da3a3;*/
    background-image: url('./assets/bg-green-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decp {
    width: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    margin-top: -20vh;
}
.decp .inside{
    color: black;
}

.play-button{
    padding: 5px;
    border-radius: 30px;
    font-size: 2.3rem;
    width: 200px;
    color: #f8f8fa;
    background: #ffffff2c;
    box-shadow: 0 0 3px 1px #9da3a3;
    outline: none;
    font-family: 'Mochiy Pop P One', sans-serif;
    animation: border-blink 1.2s infinite;
    border: none;
    backdrop-filter: blur(2px);
    cursor: pointer;
}
.play-button:hover{
    background: none;
    color: #deb887;
}
@keyframes border-blink {
    5%{
        box-shadow: 0 0 1px 0.25px #9da3a3;
    }
    10%{
        box-shadow: 0 0 2px 0.50px #9da3a3;
    }
    15%{
        box-shadow: 0 0 3px 0.75px #9da3a3;
    }
    20%{
        box-shadow: 0 0 4px 1px #9da3a3;
    }
}
.heading .banner-img{
    width: 50vh;
}
.enter-btn{
    animation: blink 1s infinite;
    margin-top: 10vh;
}
@keyframes blink {
    40%{
        opacity: 0;     
    }
}
.copyright{
    width: 100vw;
    position: absolute;
    top: 0; 
}
.copyright .content{
    padding: 20px 5vh 20px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
/* play area */
.play-area{
    height: 100vh;
    width: 100vw;
    display: none;
}
#myBoard{
    position: absolute;
    margin: auto;
    left: 20vw;
    margin-top: 15vh;
    width: 450px;
}
.chess-board{
    position: relative;
}
.play-area .btns{
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 24vw;
    top: 7vh;
}
.play-area button{
    padding: 7px 10px;
    margin-right: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #b58863;
    color: #f0d9b5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.play-area button:hover{
    border: 1px solid #f0d9b5;
}
.play-area .chess-timer{
    width: max-content;
    padding: 7px 10px;
    margin-right: 10px;
    background-color: #f0d9b5;
    color: #b58863;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}
.top-notification{
    background: #6c7070;
    width: max-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5%;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}
.top-notification .topNtext{
    font-size: 1.7rem;
    padding: 0 20px;
}
.message{
    background: #9da3a3;
    width: 100vw;
    height: max-content;
    overflow-y: scroll;
    position: fixed;
    margin: auto;
    top: 20%;
    padding: 20px;
    text-align: center;
    display: none;
}
.message .big-text{
    font-size: 1.7rem;
}
.message .small-text{
    font-size: 18px;
}
#progressbar {
    background-color: black;
    border-radius: 5px;
    padding: 3px;
    width: 420px;
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: -10vh;
    transform: rotate(-90deg);
}
#progressbar>div {
    background-color: white;
    width: 50%;
    height: 20px;
}
@media screen and (max-width: 600px) {
    body {
        background: #9da3a3;
    }
    .play-area{
        width: 100vw;
    }
    .play-area #myBoard{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        margin-top: 15vh;
        width: 400px;   
    }
    .play-area .btns{
        margin-top: 2vh;
        left: 0;
        right: 0;
    }
    #progressbar {
        margin-top: 45%;
        position: fixed;
        left: 0;
        right: 0;
        transform: rotate(0deg);
        width: 380px;
    }
  }