@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    user-select: none;
    -webkit-user-select: none;   
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    /*background-color: #9da3a3;*/
    background-image: url('./assets/bg-green-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decp {
    width: 100%;
    color: #fff;
    position: relative;
    text-align: center;
    margin-top: -20vh;
}
.decp .inside{
    color: black;
}

.play-button{
    padding: 5px;
    border-radius: 30px;
    font-size: 2.3rem;
    width: 200px;
    color: #f8f8fa;
    background: #ffffff2c;
    box-shadow: 0 0 3px 1px #9da3a3;
    outline: none;
    font-family: 'Mochiy Pop P One', sans-serif;
    animation: border-blink 1.2s infinite;
    border: none;
    backdrop-filter: blur(2px);
    cursor: pointer;
}
.play-button:hover{
    background: none;
    color: #deb887;
}
@keyframes border-blink {
    5%{
        box-shadow: 0 0 1px 0.25px #9da3a3;
    }
    10%{
        box-shadow: 0 0 2px 0.50px #9da3a3;
    }
    15%{
        box-shadow: 0 0 3px 0.75px #9da3a3;
    }
    20%{
        box-shadow: 0 0 4px 1px #9da3a3;
    }
}
.heading .banner-img{
    width: 50vh;
}
.enter-btn{
    animation: blink 1s infinite;
    margin-top: 10vh;
}
@keyframes blink {
    40%{
        opacity: 0;     
    }
}
.copyright{
    width: 100vw;
    position: absolute;
    top: 0; 
}
.copyright .content{
    padding: 20px 5vh 20px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
/* play area */
.play-area{
    height: 100vh;
    width: 100vw;
    display: none;
}
#myBoard{
    position: absolute;
    margin: auto;
    left: 20vw;
    margin-top: 15vh;
    width: 450px;
    cursor: grab;
}
.chess-board{
    position: relative;
}
.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}


.highlight-hint {
    box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}
.play-area .btns{
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 24vw;
    top: 7vh;
}
.play-area button{
    padding: 7px 10px;
    margin-right: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #b58863;
    color: #f0d9b5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.play-area button:hover{
    border: 1px solid #f0d9b5;
}
.play-area .chess-timer{
    width: max-content;
    padding: 7px 10px;
    margin-right: 10px;
    background-color: #f0d9b5;
    color: #b58863;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}
.top-notification{
    background: #6c7070;
    width: max-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5%;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}
.top-notification .topNtext{
    font-size: 1.7rem;
    padding: 0 20px;
}
.message{
    background: #9da3a3;
    width: 100vw;
    height: max-content;
    overflow-y: scroll;
    position: fixed;
    margin: auto;
    top: 20%;
    padding: 20px;
    text-align: center;
    display: none;
}
.big-text{
    font-size: 1.7rem;
}
.small-text{
    font-size: 18px;
}
#progressbar {
    background-color: black;
    border-radius: 5px;
    padding: 3px;
    width: 420px;
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: -10vh;
    transform: rotate(-90deg);
}
#progressbar>div {
    background-color: white;
    width: 50%;
    height: 20px;
    max-width: 100%;
}
.music-area{
    background-color: #9da3a3;
}
.level-selector{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 15vh;
    padding: 20px;
    background: rgb(157, 163, 163, 0.4);
    backdrop-filter: blur(2px);
    width: 50vw;
    z-index: 1;
    border-radius: 5px;
}
.level-selector .slider{
    text-align: center;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider-container{
    margin-top: 1vh;
}
.range-header{
    display: flex;
    justify-content: space-between;
}
.range-header img{
    width: 40px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
  background: #000;
  border-radius: 50%;
}
.IMP-Player{
    position: absolute;
}
/* music player */
@media screen and (max-width: 900px) {
    body {
        background: #9da3a3;
    }
    .IMP-Player{
        display: none;
    }
    .play-area{
        width: 100vw;
    }
    .play-area #myBoard{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        margin-top: 15vh;
        width: 400px;   
    }
    .play-area .btns{
        margin-top: 2vh;
        left: 0;
        right: 0;
    }
    #progressbar {
        margin-top: 45%;
        position: fixed;
        left: 0;
        right: 0;
        transform: rotate(0deg);
        width: 380px;
    }
  }